#-----------------------------------------------#
#Obsede' 2
#Original code by Serge Fnstll
#Based on OneBit_OLED by Jihoon Kim that based on OneBit_VFD by chronicallyoffline
#CC BY-SA 3.0
#-----------------------------------------------#
wps: /.rockbox/wps/obsede_2.wps
sbs: /.rockbox/wps/obsede_2.sbs
selector type: bar (color)
line selector start color: 101010
line selector end color: 000000
line selector text color: ffffff
filetype colours: -
foreground color: ffffff
background color: 000000
font: /.rockbox/fonts/20-noto-sans.fnt
statusbar: off
scrollbar: off
battery display: graphical
show icons: off
database album art: on
database artist art: on
dynamic colors: on
album covers statusbar: off
album covers background: background