#-----------------------------------------------#
#Themify 2
#Original code by Dook 2025
#Creative Commons Attribution-ShareAlike 3.0
#Unported (CC BY-SA 3.0)
#-----------------------------------------------#
#
wps: /.rockbox/wps/themify_2.wps
sbs: /.rockbox/wps/themify_2.sbs
font: /.rockbox/fonts/22-LeagueSpartan-Regular.fnt
font bold: /.rockbox/fonts/22-LeagueSpartan-Bold.fnt
show icons: on
scrollbar: right
battery display: graphic
time format: 12hour
foreground color: fff2f9
background color: 031835
database album art: on
database artist art: on
database art row height: 46
dynamic colors: on
album covers statusbar: on
album covers background: foreground
album covers center margin: 20
dialog button border radius: 4
scroll speed: 14
scroll delay: 1500
scroll step: 1