#-----------------------------------------------#
# ===== =    = ===== ==   == ===== ===== =   =
#   =   ====== ===   = === =   =   ===   =====
#   =   =    = ===== =  =  = ===== =       =
# 
#Themify 2
#Original code by Dook 2025
#Creative Commons Attribution-ShareAlike 3.0
#Unported (CC BY-SA 3.0)
#-----------------------------------------------#
#
wps: /.rockbox/wps/Themify_2.wps
sbs: /.rockbox/wps/Themify_2.sbs
font: /.rockbox/fonts/22-LeagueSpartan-Regular.fnt
font bold: /.rockbox/fonts/22-LeagueSpartan-Bold.fnt
show icons: on
scrollbar: right
battery display: graphic
time format: 12hour
foreground color: fff2f9
background color: 031835
dialog box border width: 2
dialog box margin: 10
dialog button border width: 2
dialog button border radius: 4
dialog colours: on
dialog box foreground: FFFFFF
dialog box background: 323358
dialog box border colour: fff2f9
dialog button foreground: FFFFFF
dialog button background: 323358
dialog button border colour: fff2f9
dialog button foreground selected: FFFFFF
dialog button background selected: c78dbe
dialog button border colour selected: FFFFFF
database album art: on
database artist art: on
database art row height: 46