#-----------------------------------------------#
#bony
#by Anthony Fletcher for PodBox
#Based on bony by Chuck Lardo
#CC BY-SA 4.0
#-----------------------------------------------#
wps: /.rockbox/wps/bony.wps
sbs: /.rockbox/wps/bony.sbs
font: /.rockbox/fonts/24-seven-fifteen.fnt
font bold: /.rockbox/fonts/24-seven-fifteen.fnt
fms: -
#
background color: 141414
foreground color: fafafa
ui viewport: -
statusbar: off
scrollbar: off
show icons: off
dynamic colors: on
album covers statusbar: off
album covers background: background
database album art: on
database artist art: on
album covers view mode: flat
album covers filter: pixellate5