#-----------------------------------------------#
#iclassic_square_dark
#(CC-BY-SA 3.0) by Humberto Santana
#CC BY-SA 3.0
#-----------------------------------------------#
wps: /.rockbox/wps/iclassic_square_dark.wps
sbs: /.rockbox/wps/iclassic_square_dark.sbs
font: /.rockbox/fonts/18-noto-sans.fnt
font bold: /.rockbox/fonts/18-noto-sans-bold.fnt
backdrop: -
foreground color: ffffff
background color: 000000
selector type: bar (color)
line selector start color: ffffff
line selector end color: ffffff
line selector text color: 000000
#
filetype colours: -
iconset: -
ui viewport: -
statusbar: off
scrollbar: off
show icons: off
dynamic colors: on
database album art: on
database artist art: on
album covers statusbar: on
