#-----------------------------------------------#
#scrim_p
#by Anthony Fletcher for PodBox
#CC BY-SA 3.0
#-----------------------------------------------#
wps: scrim_p
sbs: scrim_p
font: /.rockbox/fonts/18-noto-sans.fnt
font bold: /.rockbox/fonts/18-noto-sans-bold.fnt
backdrop: -
foreground color: ffffff
background color: 000000
statusbar: off
scrollbar: off
dynamic colors: on
show icons: on
database album art: on
database artist art: on
playlist viewer indices: off
scroll speed: 14
scroll delay: 1500
scroll step: 1
album covers statusbar: on
dialog button border radius: 4
dialog box margin: 10