#-----------------------------------------------#
#jive
#by James Stevenson
#-----------------------------------------------#
wps: /.rockbox/wps/jive.wps
sbs: /.rockbox/wps/jive.sbs
font: /.rockbox/fonts/20-noto-sans-medium.fnt
backdrop: -
foreground color: ffffff
background color: 3a3a3a
#
selector type: bar (color)
line selector start color: c8c8c8
line selector end color: c8c8c8
line selector text color: 3a3a3a
#
filetype colours: -
iconset: -
viewers iconset: -
ui viewport: -
statusbar: off
scrollbar: off
show icons: off
dynamic colors: on
database album art: on
database artist art: on
album covers statusbar: on
